---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/asmega
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1384564615'
      Last-Modified:
      - Fri, 15 Nov 2013 11:11:42 GMT
      Etag:
      - '"e9e8563f5c7604e1fa40a04ddbb5ecb4"'
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"login":"asmega","id":92580,"avatar_url":"https://0.gravatar.com/avatar/5744235abab8e6c1c6c6034874392d5a?d=https%3A%2F%2Fidenticons.github.com%2Fdadf3440ed6e33b684459420d88281a3.png&r=x","gravatar_id":"5744235abab8e6c1c6c6034874392d5a","url":"https://api.github.com/users/asmega","html_url":"https://github.com/asmega","followers_url":"https://api.github.com/users/asmega/followers","following_url":"https://api.github.com/users/asmega/following{/other_user}","gists_url":"https://api.github.com/users/asmega/gists{/gist_id}","starred_url":"https://api.github.com/users/asmega/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/asmega/subscriptions","organizations_url":"https://api.github.com/users/asmega/orgs","repos_url":"https://api.github.com/users/asmega/repos","events_url":"https://api.github.com/users/asmega/events{/privacy}","received_events_url":"https://api.github.com/users/asmega/received_events","type":"User","site_admin":false,"name":"Phil
        Lee","company":null,"blog":"www.ph-lee.com","location":"Newcastle, UK","email":"asmega@ph-lee.com","hireable":true,"bio":"Ruby
        on Rails developer","public_repos":40,"followers":12,"following":12,"created_at":"2009-06-06T14:39:59Z","updated_at":"2013-11-15T11:11:42Z","public_gists":27}'
  recorded_at: Sat, 16 Nov 2013 00:16:55 GMT
- request:
    method: get
    uri: https://api.github.com/users/asmega/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1384564615'
      Etag:
      - '"c772e0534c3cf3bb097d7584e25cbb3d"'
      X-Github-Media-Type:
      - github.beta; format=json
      Link:
      - <https://api.github.com/user/92580/repos?page=2>; rel="next", <https://api.github.com/user/92580/repos?page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":1596380,"name":"adhearsion","full_name":"asmega/adhearsion","owner":{"login":"asmega","id":92580,"avatar_url":"https://0.gravatar.com/avatar/5744235abab8e6c1c6c6034874392d5a?d=https%3A%2F%2Fidenticons.github.com%2Fdadf3440ed6e33b684459420d88281a3.png&r=x","gravatar_id":"5744235abab8e6c1c6c6034874392d5a","url":"https://api.github.com/users/asmega","html_url":"https://github.com/asmega","followers_url":"https://api.github.com/users/asmega/followers","following_url":"https://api.github.com/users/asmega/following{/other_user}","gists_url":"https://api.github.com/users/asmega/gists{/gist_id}","starred_url":"https://api.github.com/users/asmega/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/asmega/subscriptions","organizations_url":"https://api.github.com/users/asmega/orgs","repos_url":"https://api.github.com/users/asmega/repos","events_url":"https://api.github.com/users/asmega/events{/privacy}","received_events_url":"https://api.github.com/users/asmega/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/asmega/adhearsion","description":"A
        Ruby framework for building telephony applications","fork":true,"url":"https://api.github.com/repos/asmega/adhearsion","forks_url":"https://api.github.com/repos/asmega/adhearsion/forks","keys_url":"https://api.github.com/repos/asmega/adhearsion/keys{/key_id}","collaborators_url":"https://api.github.com/repos/asmega/adhearsion/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/asmega/adhearsion/teams","hooks_url":"https://api.github.com/repos/asmega/adhearsion/hooks","issue_events_url":"https://api.github.com/repos/asmega/adhearsion/issues/events{/number}","events_url":"https://api.github.com/repos/asmega/adhearsion/events","assignees_url":"https://api.github.com/repos/asmega/adhearsion/assignees{/user}","branches_url":"https://api.github.com/repos/asmega/adhearsion/branches{/branch}","tags_url":"https://api.github.com/repos/asmega/adhearsion/tags","blobs_url":"https://api.github.com/repos/asmega/adhearsion/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/asmega/adhearsion/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/asmega/adhearsion/git/refs{/sha}","trees_url":"https://api.github.com/repos/asmega/adhearsion/git/trees{/sha}","statuses_url":"https://api.github.com/repos/asmega/adhearsion/statuses/{sha}","languages_url":"https://api.github.com/repos/asmega/adhearsion/languages","stargazers_url":"https://api.github.com/repos/asmega/adhearsion/stargazers","contributors_url":"https://api.github.com/repos/asmega/adhearsion/contributors","subscribers_url":"https://api.github.com/repos/asmega/adhearsion/subscribers","subscription_url":"https://api.github.com/repos/asmega/adhearsion/subscription","commits_url":"https://api.github.com/repos/asmega/adhearsion/commits{/sha}","git_commits_url":"https://api.github.com/repos/asmega/adhearsion/git/commits{/sha}","comments_url":"https://api.github.com/repos/asmega/adhearsion/comments{/number}","issue_comment_url":"https://api.github.com/repos/asmega/adhearsion/issues/comments/{number}","contents_url":"https://api.github.com/repos/asmega/adhearsion/contents/{+path}","compare_url":"https://api.github.com/repos/asmega/adhearsion/compare/{base}...{head}","merges_url":"https://api.github.com/repos/asmega/adhearsion/merges","archive_url":"https://api.github.com/repos/asmega/adhearsion/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/asmega/adhearsion/downloads","issues_url":"https://api.github.com/repos/asmega/adhearsion/issues{/number}","pulls_url":"https://api.github.com/repos/asmega/adhearsion/pulls{/number}","milestones_url":"https://api.github.com/repos/asmega/adhearsion/milestones{/number}","notifications_url":"https://api.github.com/repos/asmega/adhearsion/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/asmega/adhearsion/labels{/name}","releases_url":"https://api.github.com/repos/asmega/adhearsion/releases{/id}","created_at":"2011-04-10T21:33:48Z","updated_at":"2013-01-01T20:47:53Z","pushed_at":"2011-04-10T01:32:57Z","git_url":"git://github.com/asmega/adhearsion.git","ssh_url":"git@github.com:asmega/adhearsion.git","clone_url":"https://github.com/asmega/adhearsion.git","svn_url":"https://github.com/asmega/adhearsion","homepage":"http://adhearsion.com","size":4004,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","master_branch":"master"},{"id":3131560,"name":"amazon-ecs","full_name":"asmega/amazon-ecs","owner":{"login":"asmega","id":92580,"avatar_url":"https://0.gravatar.com/avatar/5744235abab8e6c1c6c6034874392d5a?d=https%3A%2F%2Fidenticons.github.com%2Fdadf3440ed6e33b684459420d88281a3.png&r=x","gravatar_id":"5744235abab8e6c1c6c6034874392d5a","url":"https://api.github.com/users/asmega","html_url":"https://github.com/asmega","followers_url":"https://api.github.com/users/asmega/followers","following_url":"https://api.git[...]
