---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/asmega
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1384564615'
      Last-Modified:
      - Fri, 15 Nov 2013 11:11:42 GMT
      Etag:
      - '"e9e8563f5c7604e1fa40a04ddbb5ecb4"'
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"login":"asmega","id":92580,"avatar_url":"https://0.gravatar.com/avatar/5744235abab8e6c1c6c6034874392d5a?d=https%3A%2F%2Fidenticons.github.com%2Fdadf3440ed6e33b684459420d88281a3.png&r=x","gravatar_id":"5744235abab8e6c1c6c6034874392d5a","url":"https://api.github.com/users/asmega","html_url":"https://github.com/asmega","followers_url":"https://api.github.com/users/asmega/followers","following_url":"https://api.github.com/users/asmega/following{/other_user}","gists_url":"https://api.github.com/users/asmega/gists{/gist_id}","starred_url":"https://api.github.com/users/asmega/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/asmega/subscriptions","organizations_url":"https://api.github.com/users/asmega/orgs","repos_url":"https://api.github.com/users/asmega/repos","events_url":"https://api.github.com/users/asmega/events{/privacy}","received_events_url":"https://api.github.com/users/asmega/received_events","type":"User","site_admin":false,"name":"Phil
        Lee","company":null,"blog":"www.ph-lee.com","location":"Newcastle, UK","email":"asmega@ph-lee.com","hireable":true,"bio":"Ruby
        on Rails developer","public_repos":40,"followers":12,"following":12,"created_at":"2009-06-06T14:39:59Z","updated_at":"2013-11-15T11:11:42Z","public_gists":27}'
  recorded_at: Sat, 16 Nov 2013 00:16:54 GMT
recorded_with: VCR 2.7.0
